.header {
  /* width: 100%;
 max-width: 100%;
  height: 4rem;
  display: flex;
  align-items:center;
  justify-content: space-between;
  background-color: #5809c0dc;
  padding: 0 7%;
 
   */

   width: 100%;
}

.logo {
  font-size: 1rem;
  color: white;
  background-color: #d7fc09;
  font-weight: bold;
}

.links:hover{
text-decoration: none;
color: rgba(1, 165, 97, 0.473);
transform: scale(1.5);


}
 .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: right;
}

 .nav li {
  margin-left: 5rem;
}

#nav-dropdown-dark-example  a{
  text-decoration: none;
  font-size: 1.1rem;
  color: #000000;
  text-decoration: none;
  
}
.nav a {
  text-decoration: none;
  font-size: 1.1rem;
 
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(8, 233, 222);
  text-decoration: none;
}

.badge {
  background-color: #ca5017;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}


.download:hover{
  text-decoration: none;
  color: white;

  transition: .6;
  height: 3em;

}